<ion-view class="informationSetting" hide-tabs="toHideTabs">
  <div class="return-box" ng-click="goState('tab.mine')">
    <img src="img/return.svg"/>
  </div>
  <ion-content scroll="true">
    <p class="input-title">密码修改</p>
    <div class="list">
      <div class="item item-input">
        <p class="title">旧密码</p>
        <input type="password" ng-model="formData.old_password" placeholder="请输入旧密码" />
        <i class="icon"></i>
      </div>
      <div class="item item-input">
        <p class="title">新密码</p>
        <input type="password" ng-model="formData.new_password" placeholder="请输入新密码" />
        <i class="icon"></i>
      </div>
      <div class="item item-input">
        <p class="title">确认新密码</p>
        <input type="password" ng-model="formData.new_password_repeat" placeholder="请再次输入新密码" />
        <i class="icon"></i>
      </div>
      <div class="btn-box">
        <button class="button btn-mine btn-linear" ng-click="saveData()">
          修改密码
        </button>
        <button class="button btn-mine btn-black" ng-click="back()">
          取消
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
