<ion-tabs ng-class="{'tabs-item-hide': $root.hideTabs}">
    <ion-tab title="首页" href="#/tab/homepage" icon-on="ion-homepage-on" icon-off="ion-homepage-off">
        <ion-nav-view name="tab-homepage"></ion-nav-view>
    </ion-tab>
    <ion-tab title="扫一扫" href="#/tab/scan" icon-on="ion-scan-on" icon-off="ion-scan-off">
        <ion-nav-view name="tab-scan"></ion-nav-view>
    </ion-tab>
    <ion-tab title="服务中心" href="#/tab/order" icon-on="ion-order-on" icon-off="ion-order-off">
        <ion-nav-view name="tab-order"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人中心" href="#/tab/mine" icon-on="ion-mine-on" icon-off="ion-mine-off">
        <ion-nav-view name="tab-mine"></ion-nav-view>
    </ion-tab>
</ion-tabs>
