<ion-view class="carAdd" hide-tabs="toHideTabs">
  <div class="return-box" ng-click="goState('tab.mine')">
    <img src="img/return.svg"/>
  </div>
  <ion-content scroll="true">
    <p class="input-title">会员权益说明</p>
    <pre style="padding: 0 0.5rem; color: #666; font-size: 0.4rem;">
会员权益：
该如何使用会员权益？
便捷的养护流程：
01 购买EGE会员
02 完善个人信息
03 进入EGE数联生态公众号
04 选择预约服务点、时间等，会员预约权益锁定
05 到达服务点接受服务
06 同步了解养护进程及数据
07 养护完成后对施工门店、技师点评

EGE任享会员权益使用细则

1.您通过购买并完善个人及车辆信息成为EGE任享会员后，即可在一年（365天）期限内免费在本平台合作门店对车辆进行A保养，一卡绑定一车，不限次数，车型匹配为：银卡4缸（不含加注机油5升以上车辆），金卡6缸，黑金卡8缸；超跑等超豪华车辆及营运车辆无法使用；

2.EGE任享会员权益仅限非营运车辆（营运车辆包括但不限于出租车、网约车等），一卡绑定一辆车，按所购卡型设置匹配使用；

3.享受会员免费养护服务时，您每次可以预定1个免费服务施工点；

4.施工并完成养护确认手续后，即可进行新的预定（指同一微信号绑定注册多卡的）。若需要更改订单信息，取消此订单重新下单即可；

5.预约工位时按所购卡型匹配的机油、机滤、工时费、检查费等均无需以任何方式支付费用。卡型匹配内容以外的费用由门店报价，经会员确认后另行支付。

6.若您因个人原因无法到达并接受预约养护服务，请务必提前1小时申请取消订单；如您未能提前1小时申请取消订单，平台将扣减您的信用积分50分/次，如您未申请取消订单且未实际到店进行养护服务，平台将扣减您的信用积分200分/次；

7.若EGE任享会员未能提供真实信息（包括但不限于营运类车辆注册为非营运车辆等），一经发现，即对该卡所有权益进行冻结；

8.会员卡一经激活，会员资格即生效。EGE任享会员有效期自会员资格生效当日起1年内有效（每年以365日计）。会员资格一经生效，概不退换；

9.在EGE任享会员使用过程中，可能出现部分服务点、工位、时间段等紧俏的情况，请您密切关注EGE数联生态微信公众号显示信息，合理安排预约时间。
</pre>
  </ion-content>
</ion-view>
