@charset "utf-8";

// 我的
.mine {
  .scroll-content {
    .header-box {
      position: relative;
      width: 10rem;
      height: 4.4rem;
      text-align: center;
      color: #fff;
      background: url("../img/title-bg.png") no-repeat top;
      background-size: 100%;
      .header-bg {
        position: absolute;
        top: 1.3rem;
        left: 0.42rem;
        width: 9.16rem;
        height: 2.9rem;
      }
      .portrait {
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
      }
      .title {
        position: absolute;
        top: 1.5rem;
        left: 2.9rem;
        width: 6.5rem;
        height: 1rem;
        line-height: 1rem;
        text-align: left;
        font-size: 0.47rem;
        font-weight: bold;
        overflow: hidden;
      }
      .sub-title {
        position: absolute;
        top: 2.4rem;
        left: 2.9rem;
        font-size: 0.35rem;
      }
      .content {
        position: absolute;
        top: 3.2rem;
        left: 1.8rem;
        font-size: 0.35rem;
        font-weight: bold;
        color: #f7b52b;
      }
    }
    .btn-list {
      margin-top: 0.1rem;
      .item {
        margin-bottom: 0.2vh;
        padding: 0;
        padding-left: 0.75rem;
        line-height: 1.35rem;
        font-size: 0.4rem;
        border: none;
        border-bottom: 0.1vh solid #000;
        background: #1f2025;
        .left_icon {
          position: relative;
          top: 0.05rem;
          margin-right: 0.25rem;
          width: 0.45rem;
          height: 0.45rem;
        }
        .title {
          display: inline-block;
          width: 6.5rem;
          color: #fefefe;
        }
        .icon {
          width: 0.47rem;
          height: 0.47rem;
        }
        .ion-chevron-right {
          float: right;
          margin-right: 0.45rem;
          font-weight: bold;
          color: #fefefe;
        }
      }
    }
  }
}

// 车辆列表
.carList {
  .tips {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 0.6rem;
    color: #fff;
    text-align: center;
    transform: translateY(-200%);
  }
  .list {
    .item {
      margin-bottom: 0.1rem;
      padding: 0 0.25rem;
      border: 0;
      background: #13131a;
      .item-content {
        padding: 0.4rem;
        background: #1f2025;
        border-radius: 0.05rem;
        .item-left-cover {
          float: left;
          width: 1.8rem;
          height: 1.8rem;
        }
        .item-left-text {
          position: absolute;
          top: 2.2rem;
          left: 0.8rem;
          color: #fff;
        }
        .item-main {
          float: left;
          margin-left: 0.25rem;
          width: 6.65rem;
          p {
            color: #fff;
            font-size: 0.3rem;
          }
          p:nth-child(1) {
            font-size: 0.4rem;
          }
          .btn-list {
            float: right;
            .btn-list-item {
              float: left;
              margin-left: 0.3rem;
              width: 1.7rem;
              height: 0.5rem;
              line-height: 0.5rem;
              border-radius: 0.25rem;
              font-size: 0.3rem;
              text-align: center;
            }
          }
        }
        .item-footer {
          float: right;
          margin-top: 0.3rem;
          width: 6rem;
          p {
            font-size: 0.3rem;
            color: #858585;
            text-align: right;
          }
        }
        .right-tab {
          position: absolute;
          top: 0.4rem;
          right: 0.1rem;
          width: 1.65rem;
          height: 0.7rem;
          line-height: 0.65rem;
          text-align: center;
          background-size: 120%;
          background-position: center;
          p {
            color: #fff;
            font-size: 0.3rem;
          }
        }
      }
    }
  }
}
.carList2 {
  .tips {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 0.6rem;
    color: #fff;
    text-align: center;
    transform: translateY(-200%);
  }
  .list {
    .item {
      margin-bottom: 0.25rem;
      padding: 0 0.25rem;
      border: 0;
      background: #13131a;
      .item-content {
        background: #1f2025;
        border-radius: 0.05rem;
        .item-left-cover {
          float: left;
          width: 2.3rem;
          height: 3.25rem;
          text-align: center;
          img{
            width: 2.3rem;
            height: 2.3rem;
          }
          p {
            margin: 0 auto;
            width: 2rem;
            color: #fff;
            background: #b0b0b0;
            padding: 0.1rem;
            border-radius: 0.1rem;
          }
        }
        .item-main {
          float: left;
          margin-left: 0.25rem;
          width: 6.65rem;
          p {
            font-size: 0.3rem;
            color: #cbcbcb;
          }
          p:nth-child(1) {
            margin-top: 0.25rem;
            margin-bottom: 0.6rem;
            font-size: 0.4rem;
            color: #fff;
          }
          .btn-list {
            position: absolute;
            top: 1.3rem;
            right: 0.4rem;
            .btn-list-item {
              float: left;
              margin-left: 0.3rem;
              width: 1.7rem;
              height: 0.5rem;
              line-height: 0.5rem;
              border-radius: 0.25rem;
              font-size: 0.3rem;
              text-align: center;
            }
          }
        }
        .item-footer {
          float: right;
          margin-top: 0.3rem;
          width: 6rem;
          p {
            font-size: 0.3rem;
            color: #858585;
            text-align: right;
          }
        }
        .right-tab {
          position: absolute;
          right: 0.2rem;
          width: 1.4rem;
          height: 0.9rem;
        }
      }
    }
  }
}

// 添加车辆
.carAdd {
  .input-title {
    margin-left: 0.4rem;
    /*line-height: 1.4rem;*/
    line-height: 8vh;
    font-size: 0.47rem;
    font-weight: bold;
    color: #fff;
  }
  .list {
    padding: 0 0.25rem;
    border-radius: 0.05rem;
    .item {
      background: #1f2025;
      border: 0;
      .title {
        /*width: 1.4rem;*/
        width: 1.9rem;
        font-size: 0.4rem;
        color: #fff;
      }
      .title2 {
        width: 2rem;
        font-size: 0.4rem;
        color: #fff;
      }
      input {
        margin-right: 0.5rem;
        color: #fff;
        border-bottom: 0.01rem solid #000;
      }
      input:disabled {
        /*color: #858585;*/
      }
      .disabled-edit:disabled {
        color: #858585;
      }
      i {
        position: absolute;
        right: 0;
        margin-right: 0.5rem;
        font-size: 0.4rem;
        color: #f7b52b;
      }
    }
    .item-input {
      textarea {
        height: 3.8rem;
      }
    }
    .item-checkbox {
      .toggle {
        position: absolute;
        right: 5vw;
        top: 50%;
        transform: translateY(-35%);
      }
    }
    .btn-box {
      margin-top: 0.45rem;
      text-align: center;
      button {
        margin: 0 0.25rem;
        height: 0.9rem;
        line-height: 0.9rem;
      }
    }
  }
  .tips {
    padding-top: 0.25rem;
    padding-left: 0.4rem;
    height: 1rem;
    background: #1f2025;
    color: #f00;
    text-align: left;
  }
  .modal-all-page {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #13131a;
    .list {
      float: left;
      padding: 0;
      .item {
        padding: 0;
      }
    }
    .list-inset {
      margin: 0 0.3rem;
      width: 9.4rem;
      background: #1f2025;
      .item-input {
        width: 100%;
        .icon {
          color: #fff;
        }
        input {
          margin-right: 0;
          padding: 0 0.8rem 0 0.3rem;
        }
        input::placeholder {
          color: #fff;
          text-align: center;
        }
      }
    }
    .list-left {
      margin-left: 0.3rem;
      width: 2.75rem;
      height: 87vh;
      overflow-x: hidden;
      overflow-y: scroll;
      .item {
        margin-bottom: 1px;
        line-height: 1.1rem;
        font-size: 0.4rem;
        color: #fff;
        background: #1f2025;
        border-bottom: 1px solid #000;
        img {
          float: left;
          margin: 0.15rem;
          width: 0.77rem;
          height: 0.77rem;
          background: #fff;
        }
        p {
          float: left;
          color: #fff;
        }
        .selected {
          color: #f7b52b;
        }
      }
      .item-divider {
        padding: 0;
        min-height: 0;
        line-height: 0.4rem;
        font-size: 0.3rem;
        background: #13131a;
        border-bottom: 0;
      }
    }
    .list-right {
      margin-top: 0.4rem;
      margin-left: 0.1rem;
      width: 6.6rem;
      height: 84.7vh;
      overflow-x: hidden;
      overflow-y: scroll;
      .item {
        margin-bottom: 1px;
        padding: 0 0.35rem;
        line-height: 1.1rem;
        color: #fff;
        border-bottom: 1px solid #000;
      }
    }
    .tip {
      position: absolute;
      top: 50%;
      width: 10rem;
      color: #fff;
      font-size: 3vh;
      text-align: center;
      transform: translateY(-50%);
    }
  }
}

// 个人信息
.informationSetting {
  .setting-header {
    position: relative;
    height: 6.5rem;
    background: url("../img/title-bg2.png") no-repeat top;
    background-size: 100%;
    .portrait {
      position: absolute;
      left: 4rem;
      top: 2.3rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    p {
      position: absolute;
      width: 10rem;
      font-size: 0.4rem;
      color: #fff;
      text-align: center;
      span {
        margin-left: 0.3rem;
        color: #f7b52b;
      }
    }
    p:nth-child(2) {
      top: 4.5rem;
    }
    p:nth-child(3) {
      top: 5.2rem;
    }
  }
  .list {
    padding: 0 0.25rem;
    border-radius: 0.05rem;
    .item {
      background: #1f2025;
      border: 0;
      .title {
        width: 2rem;
        font-size: 0.4rem;
        color: #fff;
      }
      input {
        margin-right: 0.5rem;
        color: #fff;
        border-bottom: 0.01rem solid #000;
      }
      i {
        position: absolute;
        right: 0;
        margin-right: 0.5rem;
        font-size: 0.4rem;
        color: #fff;
      }
      .icon-text {
        color: #f7b52b;
      }
    }
  }
  .btn-box {
    margin-top: 0.65rem;
    text-align: center;
    button {
      margin: 0 0.25rem;
      height: 0.9rem;
      line-height: 0.9rem;
      cursor: pointer;
    }
  }
}

// 我的收藏
.collectionList {
  .input-title {
    margin-left: 0.4rem;
    line-height: 8vh;
    font-size: 0.47rem;
    font-weight: bold;
    color: #fff;
  }
  .scroll-view {
    height: 92vh;
    .list {
      /*.item {
        margin-bottom: 0.1rem;
        padding: 0 0.25rem;
        border: 0;
        background: #13131a;
        .item-content {
          padding: 0.4rem;
          background: #1f2025;
          border-radius: 0.05rem;
          .item-left-cover {
            float: left;
            width: 3.6rem;
            height: 2.4rem;
          }
          .item-main {
            float: left;
            margin-left: 0.25rem;
            width: 4.5rem;
            p {
              color: #fff;
              font-size: 0.32rem;
            }
            .name {
              font-size: 0.4rem;
              img {
                float: right;
                width: 0.4rem;
                height: 0.4rem;
              }
            }
            .business-scope {
              margin-bottom: 0.3rem;
            }
            .address {
              color: #858585;
            }
            .score {
              ul {
                li {
                  float: left;
                  img {
                    width: 0.3rem;
                    height: 0.3rem;
                  }
                }
              }
              span {
                margin-left: 0.1rem;
                font-size: 0.3rem;
                color: #fff;
              }
            }
          }
          .item-footer {
            float: right;
            margin-top: 0.3rem;
            width: 6rem;
            .tag-list {
              position: absolute;
              left: 0.6rem;
              margin-top: 0.25rem;
              width: 5.7rem;
              .tag-list-item {
                float: left;
                margin-right: 0.2rem;
                padding: 0 0.25rem;
                height: 0.5rem;
                line-height: 0.5rem;
                color: #fff;
                font-size: 0.3rem;
                border-radius: 0.25rem;
                background: #393c45;
              }
            }
            .btn-list {
              float: right;
              .btn-list-item {
                float: left;
                padding: 0 0.8rem;
                height: 0.9rem;
                line-height: 0.9rem;
                border-radius: 0.45rem;
                font-size: 0.3rem;
                text-align: center;
              }
            }
            p {
              font-size: 0.3rem;
              color: #858585;
              text-align: left;
            }
          }
          .right-tab {
            position: absolute;
            top: 0.4rem;
            right: 0.1rem;
            width: 1.65rem;
            height: 0.7rem;
            line-height: 0.65rem;
            text-align: center;
            background-size: 120%;
            background-position: center;
            p {
              color: #fff;
              font-size: 0.3rem;
            }
          }
        }
      }*/
      .item {
        margin-bottom: 0.1rem;
        padding: 0 0.25rem;
        border: 0;
        background: #13131a;
        .item-content {
          padding: 0.4rem;
          padding-right: 0;
          //padding-bottom: 0;
          background: #1f2025;
          border-radius: 0.05rem;
          .item-left-cover {
            float: left;
            width: 3.35rem;
            height: 3.7rem;
          }
          .item-main {
            float: left;
            margin-left: 0.25rem;
            width: 5.5rem;
            p {
              line-height: 0.5rem;
              color: #999;
              font-size: 0.32rem;
            }
            .name {
              height: 1.6rem;
              width: 4.75rem;
              font-size: 0.4rem;
              color: #fff;
            }
            .collection{
              position: absolute;
              top: 1.25em;
              right: 0.6rem;
              img {
                //float: right;
                width: 0.4rem;
                height: 0.4rem;
              }
            }
            .location {
              img {
                width: 0.35rem;
                height: 0.35rem;
                transform: translateY(15%);
              }
              span {
                font-size: 0.3rem;
                color: #f7b52b;
              }
            }
            .score {
              ul {
                li {
                  float: left;
                  img {
                    width: 0.3rem;
                    height: 0.3rem;
                  }
                }
              }
              span {
                margin-left: 0.1rem;
                font-size: 0.3rem;
                color: #999;
              }
            }
            .comment {
              color: #858585;
            }
          }
          .item-footer {
            float: right;
            margin: 0.3rem;
            padding-top: 0.33rem;
            width: 97%;
            border-top: 0.01rem solid #000;
            .tag-list {
              position: absolute;
              left: 0.6rem;
              margin-top: 0.25rem;
              width: 5.7rem;
              .tag-list-item {
                float: left;
                margin-right: 0.2rem;
                padding: 0 0.25rem;
                height: 0.5rem;
                line-height: 0.5rem;
                color: #fff;
                font-size: 0.3rem;
                border-radius: 0.25rem;
                border: 1px solid #606060;
              }
            }
            .btn-list {
              float: right;
              .btn-list-item {
                float: left;
                padding: 0 0.8rem;
                height: 0.9rem;
                line-height: 0.9rem;
                border-radius: 0.45rem;
                font-size: 0.3rem;
                text-align: center;
              }
            }
            p {
              font-size: 0.3rem;
              color: #858585;
              text-align: left;
            }
          }
          .right-tab {
            position: absolute;
            top: 0.4rem;
            right: 0.1rem;
            width: 1.65rem;
            height: 0.7rem;
            line-height: 0.65rem;
            text-align: center;
            background-size: 120%;
            background-position: center;
            p {
              color: #fff;
              font-size: 0.3rem;
            }
          }
        }
      }
    }
  }
}

// 添加车辆
.bindingCard {
  .input-title {
    margin-left: 0.4rem;
    line-height: 8vh;
    font-size: 0.47rem;
    font-weight: bold;
    color: #fff;
  }
  .setting-header {
    z-index: -1;
    position: relative;
    height: 5.5rem;
    background: url("../img/title-bg.png") no-repeat top;
    background-size: 100%;
    transform: translateY(-8vh);
    .card-demo {
      position: absolute;
      left: 0.5rem;
      top: 1.7rem;
      width: 9rem;
      height: 4rem;
      border-radius: 0.2rem;
    }
    .btn-buy {
      position: absolute;
      top: 5.2rem;
      left: 2.85rem;
      width: 4.3rem;
      line-height: 1rem;
      background: #f7b52b;
      border-radius: 0.5rem;
      text-align: center;
      font-weight: bold;
    }
  }
  .list {
    padding: 0 0.25rem;
    border-radius: 0.05rem;
    background: url(../img/mine/car.png);
    background-size: 100%;
    background-repeat: no-repeat;
    .item {
      background: rgba(31, 32, 37, 0.8);
      border: 0;
      .title {
        width: 1.5rem;
        font-size: 0.4rem;
        color: #fff;
      }
      input {
        margin-right: 0.5rem;
        color: #fff;
        border-bottom: 0.01rem solid #000;
      }
      i {
        position: absolute;
        right: 0;
        margin-right: 0.5rem;
        font-size: 0.4rem;
        color: #f7b52b;
      }
    }
    .no-border {
      border-radius: 0 0 0.25rem 0.25rem;
      input {
        /*border: none;*/
      }
    }
    .item-input {
      textarea {
        height: 3.8rem;
      }
    }
    .checkbox-box {
      li {
        display: inline-block;
        .checkbox-rect {
          padding: 0 0.25rem;
        }
      }
    }
    .btn-box {
      margin-top: 0.45rem;
      text-align: center;
      button {
        margin: 0 0.25rem;
        height: 0.9rem;
        line-height: 0.9rem;
      }
      p {
        font-size: 0.3rem;
        color: #fff;
      }
    }
    .car-item {
      position: relative;
      height: 1.85rem;
      background: rgba(31, 32, 37, 0.8);
      border-bottom: 0.01rem solid #000;
      border-radius: 0.25rem 0.25rem 0 0;
      img {
        position: absolute;
        top: 0.45rem;
        margin: 0 16px;
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
      }
      ul {
        position: absolute;
        top: 0.45rem;
        left: 2rem;
        li {
          color: #fff;
        }
        li:nth-child(1) {
          font-size: 0.4rem;
        }
        li:nth-child(2) {
          font-size: 0.3rem;
        }
      }
      p {
        position: absolute;
        top: 0.45rem;
        right: 0.5rem;
        display: inline-block;
        color: #ff0101;
        font-size: 0.3rem;
      }
    }
  }
  .modal-all-page {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #13131a;
    .list {
      float: left;
      padding: 0;
      .item {
        padding: 0;
      }
    }
    .list-inset {
      margin: 0 0.3rem;
      width: 9.4rem;
      background: none;
      .item-input {
        .icon {
          color: #fff;
        }
        input {
          margin-right: 0;
          padding: 0 0.8rem 0 0.3rem;
        }
        input::placeholder {
          color: #fff;
          text-align: center;
        }
      }
    }
    .list-left {
      margin-left: 0.3rem;
      width: 2.75rem;
      height: 87vh;
      overflow-x: hidden;
      overflow-y: scroll;
      .item {
        margin-bottom: 1px;
        line-height: 1.1rem;
        font-size: 0.4rem;
        color: #fff;
        background: #1f2025;
        border-bottom: 1px solid #000;
        img {
          float: left;
          margin: 0.15rem;
          width: 0.77rem;
          height: 0.77rem;
        }
        p {
          float: left;
          color: #fff;
        }
        .selected {
          color: #f7b52b;
        }
      }
      .item-divider {
        padding: 0;
        min-height: 0;
        line-height: 0.4rem;
        font-size: 0.3rem;
        background: #13131a;
        border-bottom: 0;
      }
    }
    .list-right {
      margin-top: 0.4rem;
      margin-left: 0.1rem;
      width: 6.6rem;
      height: 84.7vh;
      overflow-x: hidden;
      overflow-y: scroll;
      .item {
        margin-bottom: 1px;
        padding: 0 0.35rem;
        line-height: 1.1rem;
        color: #fff;
        border-bottom: 1px solid #000;
      }
    }
  }
}
