@charset "utf-8";

// 门店列表
.storeList {
  .store-tabs {
    display: flex;
    margin: 0 0.25rem;
    margin-bottom: 0.2rem;
    width: 95%;
    height: 1.05rem;
    background-color: #f1f1f1;
    li {
      flex: 1;
      float: left;
      width: 33.332%;
      line-height: 1.05rem;
      font-size: 0.35rem;
      color: #000;
      text-align: center;
      span {
        position: relative;
        .icon {
          display: inline-block;
          position: absolute;
          left: 0.2rem;
          font-size: 0.3rem;
          color: #2348d7;
        }
        .ion-arrow-up-b {
          transform: translateY(-8%);
        }
        .ion-arrow-down-b {
          transform: translateY(8%);
        }
        .icon-selected {
          color: #f02e57;
        }
      }
    }
    li:nth-last-child(1) {
      border-right: none;
    }
    .tab-active-bottom {
      display: block;
      content: '';
      margin: 0 auto;
      height: 0.5vh;
      width: 0.5rem;
      background: #2348d7;
      transform: translateY(-0.15rem);
    }
  }
  .scroll-view {
    height: 77.5vh;
    .list {
      .item {
        margin-bottom: 0.1rem;
        padding: 0 0.25rem;
        border: 0;
        background: #f1f1f1;
        .item-content {
          padding: 0.4rem;
          padding-right: 0;
          padding-bottom: 0;
          background: #fff;
          border-radius: 0.05rem;
          .item-left-cover {
            float: left;
            width: 3.35rem;
            height: 3.7rem;
          }
          .item-main {
            float: left;
            margin-left: 0.25rem;
            width: 5.5rem;
            p {
              line-height: 0.5rem;
              color: #666;
              font-size: 0.32rem;
            }
            .name {
              height: 1rem;
              font-size: 0.4rem;
              font-weight: bold;
              color: #333;
            }
            .location {
              img {
                width: 0.35rem;
                height: 0.35rem;
                transform: translateY(15%);
              }
              span {
                font-size: 0.3rem;
                color: #2348d7;
              }
            }
            .score {
              ul {
                li {
                  float: left;
                  img {
                    width: 0.3rem;
                    height: 0.3rem;
                  }
                }
              }
              span {
                margin-left: 0.1rem;
                font-size: 0.3rem;
                color: #999;
              }
            }
            .comment {
              color: #858585;
            }
          }
          .item-footer {
            float: right;
            margin: 0.3rem;
            padding-top: 0.33rem;
            width: 97%;
            border-top: 0.01rem solid #E5E5E5;
            .tag-list {
              position: absolute;
              left: 0.6rem;
              margin-top: 0.25rem;
              width: 5.7rem;
              .tag-list-item {
                float: left;
                margin-right: 0.2rem;
                padding: 0 0.25rem;
                height: 0.5rem;
                line-height: 0.5rem;
                color: #666;
                font-size: 0.3rem;
                border-radius: 0.25rem;
                background-color: #DDD;
              }
            }
            .btn-list {
              float: right;
              .btn-list-item {
                float: left;
                padding: 0 0.8rem;
                height: 0.9rem;
                line-height: 0.9rem;
                border-radius: 0.45rem;
                font-size: 0.3rem;
                text-align: center;
              }
            }
            p {
              font-size: 0.3rem;
              color: #858585;
              text-align: left;
            }
          }
          .right-tab {
            position: absolute;
            top: 0.4rem;
            right: 0.1rem;
            width: 1.65rem;
            height: 0.7rem;
            line-height: 0.65rem;
            text-align: center;
            background-size: 120%;
            background-position: center;
            p {
              color: #000;
              font-size: 0.3rem;
            }
          }
        }
      }
      .item-load-all {
        margin: 0.5rem;
        color: #000;
        text-align: center;
      }
    }
  }
}

// 门店详情
.storeDetail {
  .cover {
    width: 10rem;
    height: 10rem;
    background: #fff;
  }
  .banner {
    width: 100%;
    height: 7.13rem;
    .slider {
      height: 100%;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10rem;
        height: 7.13rem;
      }
    }
  }
  .detail-text-box {
    margin: 0.1rem;
    padding: 0.25rem;
    color: #666;
    background: #fff;
    border-radius: 0.1rem;
    .text-title {
      display: inline-block;
      width: 7.3rem;
      line-height: 1.6rem;
      font-size: 0.55rem;
      color: #333;
    }
    .btn-title {
      display: contents;
      img {
        float: right;
        margin: 0.5rem 0.2rem;
        width: 0.6rem;
        height: 0.6rem;
      }
    }
    .share-arrow {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 2.5rem;
    }
    .text-main {
      line-height: 0.8rem;
      .img-btn {
        width: 0.4rem;
        height: 0.4rem;
        transform: translate(50%, 15%);
      }
      .title {
        display: inline-block;
        margin-right: 0.4rem;
        width: 1.6rem;
        text-align: justify;
        text-align-last: justify;
      }
      .content {
        display: inline-block;
        width: 7rem;
        vertical-align: top;
      }
      .score {
        display: inline-block;
        li {
          display: inline-block;
          img {
            width: 0.35rem;
            height: 0.35rem;
          }
        }
      }
    }
    .introduce-title {
      line-height: 1.2rem;
      font-size: 0.4rem;
      color: #333;
      border-bottom: 1px solid #ebebeb;
    }
    .introduce-main {
      padding: 0.3rem;
      line-height: 0.6rem;
      font-size: 0.35rem;
      color: #858585;
    }
    .tags {
      margin-top: 0.3rem;
      padding: 0.35rem 0;
      border-top: 1px solid #ebebeb;
      li {
        display: inline-block;
        margin-right: 0.25rem;
        padding: 0 0.25rem;
        line-height: 0.5rem;
        color: #666;
        font-size: 0.3rem;
        background: #e1e1e1;
        border-radius: 0.25rem;
      }
    }
  }
  .list {
    .item {
      margin-bottom: 0.1rem;
      padding: 0.4rem 0.5rem;
      height: 2.35rem;
      background: #fff;
      border: none;
      border-bottom: 1px solid #eee;
      .cover {
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
      }
      p {
        position: absolute;
        display: inline-block;
        margin-left: 0.25rem;
        width: 7.5rem;
        color: #999;
        font-size: 0.3rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .title {
        color: #666;
      }
      .time {
        top: 1rem;
      }
      .main {
        top: 1.35rem;
        border-bottom: none;
      }
    }
    .btn-more {
      height: 1rem;
      line-height: 1rem;
      text-align: center;
    }
  }
  .engine-oil {
    margin: 0 0.1rem;
    background: #fff;
    border-radius: 0.1rem;
    li {
      float: left;
      position: relative;
      width: 4.7rem;
      height: 2.4rem;
      .cover {
        /*margin: 0.4rem 0.2rem;
        width: 1.6rem;
        height: 1.6rem;*/
        margin: 0.4rem 0.2rem;
        margin-top: 1.2rem;
        width: 1.6rem;
        height: auto;
        transform: translate(0, -50%);
      }
      .text-box{
        float: right;
        margin-top: 1.2rem;
        width: 2.5rem;
        transform: translate(0,-50%);
        p {
          //position: absolute;
          display: inline-block;
          line-height: 0.35rem;
          color: #666;
          font-size: 0.3rem;
          word-break: break-all;
        }
        .title {
          top: 0.35rem;
        }
        .main {
          top: 1rem;
        }
      }
    }
  }
  .evaluate-box {
    margin: 0.1rem;
    padding: 0.25rem;
    background: #1f2025;
    border-radius: 0.1rem;
    .title {

    }
  }
  .swiper-container {
    --swiper-theme-color: #007aff;
    --swiper-navigation-color: #007aff;
    --swiper-navigation-size: 30px;
  }
}

// 门店预约
.storeAppointment {
  .input-title {
    margin-left: 0.4rem;
    line-height: 8vh;
    font-size: 0.47rem;
    font-weight: bold;
    color: #333;
    span {
      float: right;
      margin-right: 0.3rem;
      color: #858585;
      font-size: 0.3rem;
    }
  }
  .store-detail-box {
    .store-title {
      width: 5.5rem;
      line-height: 0.8rem;
    }
    .store-title:nth-child(1) {
      font-size: 0.37rem;
      font-weight: bold;
      color: #333;
    }
    .store-title:nth-child(2) {
      font-size: 0.32rem;
      color: #666;
    }
    .tags {
      margin-top: 0.3rem;
      width: 5.5rem;
      li {
        display: inline-block;
        margin-right: 0.25rem;
        margin-bottom: 0.2rem;
        padding: 0 0.25rem;
        width: 2rem;
        line-height: 0.5rem;
        color: #666;
        font-size: 0.3rem;
        background: #e1e1e1;
        border-radius: 0.25rem;
        text-align: center;
      }
    }
    .right-img {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .car-box {
    .swiper-slide {
      position: relative;
      margin: 0 0.3rem;
      width: 6.65rem !important;
      background: #fff;
      .car-item {
        display: block;
        padding: 0.3rem;
        width: 100%;
        height: 3.1rem;
        .title {
          font-size: 0.37rem;
          color: #333;
          text-align: left;
        }
        .logo {
          height: 1.1rem;
          width: 3.5rem;
        }
        .car-detail-box {
          .detail-item {
            display: inline-block;
            font-size: 0.28rem;
            color: #858585;
            vertical-align: top;
            p {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          .detail-item:nth-child(1) {
            width: 1rem;
          }
          .detail-item:nth-child(2) {
            width: 2.6rem;
          }
        }
      }
    }
    .selected {
      border: 0.01rem solid #00ae1c;
      .right-img {
        position: absolute;
        right: 0;
        top: 0;
        width: 0.7rem;
        height: 0.6rem;
        transform: translate(1px, -1px);
      }
    }
  }
  .oil-box {
    ul {
      li {
        padding: 0.25rem;
        /*height: 1.6rem;*/
        min-height: 1.6rem;
        max-height: 2rem;
        border-bottom: 0.01rem solid #d9d9d9;
        .logo {
          /*float: left;
          width: 1rem;
          height: 1rem;*/
          float: left;
          margin-top: 0.8rem;
          width: 1.6rem;
          height: auto;
          transform: translate(0, -50%);
        }
        .text-box{
          display: inline-block;
          margin-left: 0.3rem;
          width: 5rem;
          .title {
            /*display: inline-block;
            margin-left: 0.3rem;
            width: 5rem;*/
            font-size: 0.32rem;
            color: #858585;
          }
        }
        .oil-select {
          content: '';
          float: right;
          width: 0.6rem;
          height: 0.6rem;
          border: 0.01rem solid #00ae1c;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .oil-none {
      font-size: 0.32rem;
      color: #999;
    }
  }
  .time-choose {
    .list {
      .item {
        display: flex;
        border: none;
        .input-item {
          flex: 1;
        }
      }
    }
    .tips {
      font-size: 0.32rem;
      color: #3057ed;
    }
    pre {
      line-height: 0.56rem;
      font-size: 0.32rem;
      color: #666;
    }
  }
  .list {
    .item {
      margin-bottom: 0.25rem;
      padding: 0 0.25rem;
      background: #f3f3f3;
      border: 0;
      .item-content {
        background: #fff;
        border-radius: 0.05rem;
        .item-left-cover {
          float: left;
          width: 2.3rem;
          height: 2.95rem;
          text-align: center;
          img {
            margin-top: 0.35rem;
            margin-bottom: 0.15rem;
            width: 1.4rem;
            height: 1.4rem;
          }
          p {
            margin: 0 auto;
            width: 1.45rem;
            color: #000;
            background: #d8d8d8;
            padding: 0.1rem;
            font-size: 0.3rem;
            border-radius: 0.1rem;
          }
        }
        .item-main {
          float: left;
          margin-left: 0.25rem;
          width: 6.65rem;
          p {
            font-size: 0.3rem;
            color: #666;
          }
          p:nth-child(1) {
            margin-top: 0.25rem;
            height: 1rem;
            font-size: 0.37rem;
            color: #333;
            overflow: unset;
            text-overflow: unset;
            white-space: pre-line;
          }
          .btn-list {
            position: absolute;
            top: 1.3rem;
            right: 0.4rem;
            .btn-list-item {
              float: left;
              margin-left: 0.3rem;
              width: 1.7rem;
              height: 0.5rem;
              line-height: 0.5rem;
              border-radius: 0.25rem;
              font-size: 0.3rem;
              text-align: center;
            }
          }
        }
        .item-footer {
          float: right;
          margin-top: 0.3rem;
          width: 6rem;
          p {
            font-size: 0.3rem;
            color: #858585;
            text-align: right;
          }
        }
        .right-tab {
          position: absolute;
          right: 0.2rem;
          width: 1.4rem;
          height: 0.9rem;
        }
        .right-select {
          position: absolute;
          top: 1rem;
          right: 0.9rem;
          content: '';
          width: 0.6rem;
          height: 0.6rem;
          border: 0.01rem solid #00ae1c;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .car-list-box {
    /*z-index: 2;
    position: absolute;
    top: 0;
    width: 10rem;
    background: #fff;*/
  }
  #startDate {
    height: 34px;
    line-height: 34px;
  }
  #startTime {
    height: 34px;
    line-height: 34px;
  }
}

// 预约结果
.appointmentResult {
  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1.6rem;
    width: 0.6rem;
    height: 0.6rem;
  }
  .result-img {
    position: absolute;
    top: 1.6rem;
    left: 50%;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, 0);
  }
  .title {
    position: absolute;
    top: 5.5rem;
    width: 100%;
    font-weight: bold;
    font-size: 0.45rem;
    color: #2a51e4;
    text-align: center;
  }
  .content {
    position: absolute;
    top: 6.5rem;
    width: 100%;
    font-size: 0.32rem;
    color: #2a51e4;
    text-align: center;
  }
  .btn-mine {
    position: absolute;
    top: 8rem;
    left: 50%;
    font-size: 0.32rem !important;
    transform: translate(-50%, 0);
  }
}
