@charset "utf-8";

html, body{
  background: #13131a!important;
}

input, textarea {
  -webkit-appearance: none;
}

input::-webkit-input-placeholder {
  color: #999;
  background-color: inherit;
}

input:disabled {
  color: #333;
  background-color: inherit;
}

/*导航*/
.tab-nav {
  background-color: #292b34;
  background-image: linear-gradient(0deg, #292b34, #292b34 50%, transparent 50%);
  .tab-item {
    position: relative;
    .tab-title {
      position: absolute;
      bottom: 0;
      left: 50%;
      line-height: 24px;
      transform: translate(-50%, 0);
      color: #fff;
    }
    .ion-homepage-on {
      background: url("../../img/tabs/homepage-on.png") no-repeat center;
      background-size: 20px 20px;
    }
    .ion-homepage-off {
      background: url("../../img/tabs/homepage-off.png") no-repeat center;
      background-size: 20px 20px;
    }
    .ion-store-on {
      background: url("../../img/tabs/store-on.png") no-repeat center;
      background-size: 20px 20px;
    }
    .ion-store-off {
      background: url("../../img/tabs/store-off.png") no-repeat center;
      background-size: 20px 20px;
    }
    .ion-order-on {
      background: url("../../img/tabs/order-on.png") no-repeat center;
      background-size: 20px 20px;
    }
    .ion-order-off {
      background: url("../../img/tabs/order-off.png") no-repeat center;
      background-size: 20px 20px;
    }
    .ion-mine-on {
      background: url("../../img/tabs/mine-on.png") no-repeat center;
      background-size: 20px 20px;
    }
    .ion-mine-off {
      background: url("../../img/tabs/mine-off.png") no-repeat center;
      background-size: 20px 20px;
    }
  }
  .tab-item-active {
    border-width: 0 !important;
    .tab-title {
      color: #f7b52b;
    }
  }
}

.tabs-striped {
  .tabs {
    background-color: #292b34;
  }
}

/*头底部通用样式*/
.bar-header {
  padding: 0;
  height: 1.15rem;
  background-image: none;
  //background: linear-gradient(to right, rgb(236,20,85) , rgb(253,125,95));
  background: #13131a;
  .title {
    margin-left: 1rem;
    text-align: left;
  }
  button {
    background-color: rgba(0, 0, 0, 0);
    .ion-chevron-left {
      color: #fff;
    }
  }
  h1 {
    font-size: 0.44rem !important;
    color: #fff;
  }
  span {
    display: inline-block;
    position: absolute;
    right: 0.3rem;
    line-height: 1.15rem;
    font-size: 0.37rem;
    color: #fff;
  }
}

.bar-footer {
  padding: 0;
  /*background-image: none;*/
  background: #13131a;
  .transparent-button {
    font-size: 0.4rem;
    color: #fff;
    width: 100%;
    line-height: 44px;
    text-align: center;
  }
}

/*输入列表通用样式*/
.list-inset {
  z-index: 1;
  position: relative;
  margin: 0 0.3rem;
  width: 94%;
  background-color: rgba(41, 41, 48, 0.8);
  cursor: pointer;
  .position-box {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 2.4rem;
    height: 45px;
    line-height: 45px;
    transform: translateX(0.5px);
    img {
      margin: 12px 0.1rem 12px 0.4rem;
      width: 0.4rem;
      height: 0.4rem;
      transform: translate(0, 15%);
    }
    p {
      display: inline-block;
      position: absolute;
      width: 1.5rem;
      margin-top: 13px;
      height: 3vh;
      line-height: 3vh;
      color: #fff;
      border-right: 1px solid rgba(255, 255, 255, 1);
      overflow: hidden;
    }
  }
  .item-input {
    float: right;
    padding: 6px 0 5px 16px;
    width: 7rem;
    background-color: rgba(41, 41, 48, 0)!important;
    border: 0;
    .ion-search {
      position: absolute;
      left: 0.4rem;
      font-size: 0.4rem;
      color: #fff;
    }
    input {
      margin-right: 0;
      padding: 0 0.8rem 0 0.5rem;
      border-bottom: none!important;
    }
    input::placeholder {
      color: #fff;
      transform: translateX(0.15rem);
    }
  }
}
.view-container{
  background-color: #13131a;
  .scroll-content {
    background: #13131a;
    .scroll-view {
      width: 100%;
      height: -webkit-fill-available;
    }
  }
}
.list {
  .item {
    .title {
      width: 2rem;
      font-size: 0.4rem;
      color: #fff;
    }
    .main {
      display: block;
      width: 6.6rem;
      height: 34px;
      line-height: 34px;
      color: #fff;
      font-size: 14px;
      border-bottom: 0.01rem solid #000;
      cursor: pointer;
    }
    input {
      margin-right: 0.5rem;
      color: #fff;
      border-bottom: 0.01rem solid #000;
    }
    i {
      position: absolute;
      right: 0;
      margin-right: 0.5rem;
      font-size: 0.4rem;
      color: #fff;
    }
  }
  .item-checkbox{
    padding: 8px 0 8px 16px;
    .checkbox{
      input{
        float: right;
        margin-right: 0!important;
        border-bottom: 0!important;
      }
    }
  }
  .btn-box {
    margin-top: 0.65rem;
    text-align: center;
    button {
      margin: 0 0.25rem;
      height: 0.9rem;
      line-height: 0.9rem;
    }
  }
}

/*按钮通用样式*/
.button:hover {
  color: #c5c5c5;
}

.btn-mine {
  margin: 0 auto;
  margin-top: 0.1rem !important;
  min-height: 0;
  height: 0.95rem;
  line-height: 0.95rem;
  width: 3.75rem !important;
  font-size: 0.44rem !important;
  border-radius: 0.675rem;
  text-align: center;
  cursor: pointer;
}

.btn-normal {
  background: #fff;
}

.btn-black {
  color: #fff;
  border: 1px solid #fff;
  background: #13131a;
}

.btn-gray {
  color: #fff;
  background: #393c45;
}

.btn-red {
  color: #fff;
  background: #ff0018;
}

.btn-linear {
  color: #fff;
  /*background: linear-gradient(to right, rgb(236,20,85) , rgb(253,125,95));*/
  background: linear-gradient(to bottom, #3259f0, #2449d7);
}

.checkbox-rect {
  position: relative;
  padding: 0 0.5rem;
  line-height: 1.25rem;
  input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.3rem;
    height: 0.3rem;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input:before {
    content: ' ';
    display: table;
    width: 100%;
    height: 100%;
    border: 0;
    background: #fff;
    transition: background-color 0.1s ease-in-out;
  }
  input:after {
    opacity: 1;
    content: ' ';
    display: table;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 0.225rem;
    height: 0.15rem;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transition: opacity 0.05s ease-in-out;
  }
  input:checked:before {
    background: #f7b52b;;
  }
  p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.3rem;
    color: #999;
    line-height: 0.5rem;
    span {
      color: #f7b52b;
    }
  }
}

.checkbox_circle {
  input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 0.45rem;
    height: 0.45rem;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input:before {
    content: ' ';
    display: table;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    transition: background-color 0.1s ease-in-out;
  }
  input:after {
    opacity: 1;
    content: ' ';
    display: table;
    position: absolute;
    top: 24%;
    left: 15%;
    width: 0.3rem;
    height: 0.2rem;
    border: 3px solid #fff;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transition: opacity 0.05s ease-in-out;
  }
  input:checked:before {
    background: #28db44;
  }
}

/*弹框通用样式*/
.pop-up {
  z-index: 9;
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100vh;
  .bg_gray {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .bg_white {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8.08rem;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 0.6rem;
    .header {
      line-height: 1.32rem;
      font-size: 0.45rem;
      color: #fff;
      text-align: center;
      background-color: #ec1a56;
      border-radius: 0.6rem 0.6rem 0 0;
    }
    .main {
      padding: 0.3rem 0.45rem;
      min-height: 3.35rem;
      li {
        display: inline-block;
        font-size: 0.4rem;
        label {
          line-height: 0.95rem;
          .checkbox_circle {
            float: left;
            input {
              margin-top: 0.425rem;
            }
          }
          .title {
            float: left;
            margin-left: 0.3rem;
            color: #333;
          }
          .count {
            float: left;
            margin-left: 0.35rem;
            color: #999;
            span {
              color: #ed1955;
            }
          }
        }
      }
    }
    .footer {
      border-top: 1px solid #f1f1f1;
      li {
        float: left;
        width: 4rem;
        line-height: 1.32rem;
        text-align: center;
        font-size: 0.45rem;
      }
      li:nth-child(1) {
        color: #bbb;
        border-right: 1px solid #f1f1f1;
      }
      li:nth-child(2) {
        color: #15a6e9;
      }
    }
  }
}

.modal_layer {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  .modal_main {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    border-radius: 0.5rem;
    background-color: #fff;
    .modal_title {
      padding: 0.2rem;
      line-height: 1rem;
      text-align: center;
      font-size: 0.45rem;
      color: #fff;
      border-radius: 0.5rem 0.5rem 0 0;
      background-color: #ed1955;
    }
    .modal_cnotent {
      padding: 0.2rem;
      line-height: 0.5rem;
      font-size: 0.35rem;
      color: #333;
    }
    .modal_btn {
      padding: 0.2rem;
      line-height: 0.8rem;
      text-align: center;
      font-size: 0.45rem;
      color: #15a6e9;
      border-top: 2px solid #f5f5f5;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}

/*通用背景色*/
.swiper-pagination-bullet_gray {
  margin: 0 4px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #c3c3c3;
  opacity: .2;
}

.swiper-pagination-bullet_red {
  margin: 0 4px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #ff0000;
  opacity: 1;
}

/*模块菜单*/
.mine-tabs-nav {
  height: 1.47rem;
  ul {
    li {
      float: left;
      width: 2.5rem;
      text-align: center;
      img {
        float: left;
        margin-left: 50%;
        margin-top: 0.25rem;
        width: 0.55rem;
        height: 0.55rem;
        transform: translateX(-50%);
      }
      p {
        float: left;
        width: 100%;
        font-size: 0.31rem;
        color: #999;
      }
      .tab-active {
        color: #ee2860;
      }
    }
    .tabs_two_column {
      width: 5rem;
    }
  }
}

/*顶部菜单变色带底部边框*/
.mine_tabs2 {
  display: flex;
  margin-bottom: 0.17rem;
  width: 10rem;
  height: 1.05rem;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  li {
    flex: 1;
    float: left;
    width: 33.332%;
    line-height: 1.05rem;
    font-size: 0.35rem;
    color: #666;
    border-right: none;
    text-align: center;
    img {
      margin-left: 0.2rem;
      width: 0.15rem;
      height: 0.2rem;
    }
  }
  .tab-active {
    color: #f02e57;
    border-bottom: 1px solid #f02e57;
  }
}

/*顶部菜单变色一列*/
.mine_tabs3 {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
  li {
    line-height: 1.2rem;
    font-size: 0.31rem;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
  }
  .tab-active {
    color: #ed1955;
  }
}


.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
