<ion-view class="orderDetail" hide-tabs="toHideTabs">
  <div class="return-box" ng-click="goState('tab.order')">
    <img src="img/return.svg"/>
  </div>
  <ion-content scroll="true">
    <div class="qrcode-box" ng-show="detail.order_qr_code">
      <img ng-src="{{detail.order_qr_code}}"/>
      <p ng-show="detail.order_string_id">订单编号：{{detail.order_string_id}}</p>
    </div>
    <p ng-show="!detail.order_qr_code" class="order_string_id">订单编号：{{detail.order_string_id}}</p>
    <div class="detail-box bg-white">
      <div class="item-content">
        <p class="name">{{detail.shop_name}}
          <span ng-class="detail.order_status=='E' ? 'color-green' : ''">{{detail.order_tips}}</span>
        </p>
        <div class="cover-box">
          <img class="item-left-cover" ng-src="{{detail.car_type_img_url}}"/>
        </div>
        <div class="item-main">
          <p>车辆：{{detail.car_type_name + ' ' + detail.car_plate}}</p>
          <p ng-show="detail.service_item">项目：{{detail.service_item}}</p>
          <p ng-show="detail.oil_brand">机油：{{detail.oil_brand}}</p>
          <p class="comment" ng-show="detail.gmt_service_date">
            预约时间：{{detail.gmt_service_date + ' ' + detail.gmt_service_begin_time}}</p>
        </div>
        <div class="item-detail" ng-show="detail.feeDetailList!=null && detail.feeDetailList.length>0">
          <p class="detail-title">费用项明细</p>
          <ul class="detail-main">
            <li ng-repeat="feeItem in detail.feeDetailList track by $index">
              {{feeItem.each_item}}<p>¥{{feeItem.each_fee}}</p>
            </li>
            <li>实付价格<p>{{detail.final_fee}}</p></li>
          </ul>
        </div>
        <div class="item-footer">
          <ul class="btn-list" ng-show="detail.order_status!='I'">
            <!--检测项已被输入-->
            <li class="btn-list-item btn-linear"
                ng-show="detail.order_status!='A' && detail.child_status!='J' && detail.child_status!='K'"
                ng-click="changeState(detail, 'testResult')">报告
            </li>
            <!--检测有异常-->
            <li class="btn-list-item btn-black"
                ng-show="detail.child_status=='N' && detail.order_status!='C'"
                ng-click="confirmException(false)">忽略
            </li>
            <!--检测正常、检测异常被忽略同时无支付费用-->
            <li class="btn-list-item btn-linear"
                ng-show="(detail.child_status=='M') || (detail.order_status=='U') || (detail.child_status=='S' && !detail.final_fee)"
                ng-click="changeState(detail, 'orderEvaluate')">评价
            </li><!--无异常、有异常完成支付、有异常被忽略-->
            <li class="btn-list-item btn-linear"
                ng-show="detail.final_fee && detail.order_status!='E' && detail.order_status!='W' && detail.order_status!='U'"
                ng-click="changeState(detail, 'orderPayment')">付钱
            </li>
            <li class="btn-list-item btn-black"
                ng-show="detail.order_status=='A' && detail.child_status!='V'"
                ng-click="cancelOrder(item)">取消
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="input-title" ng-show="detail.orderEventList!=null && detail.orderEventList.length>0">保养进度</p>
    <div class="progress-box bg-white" ng-show="detail.orderEventList!=null && detail.orderEventList.length>0">
      <ul>
        <li class="progress-item" ng-repeat="eventItem in detail.orderEventList track by $index">
          <div class="item-text-box">
            <img src="img/order/progress-true.png"/>
            <p>{{eventItem.gmt_event}}</p>
            <p>{{eventItem.event_desc}}</p>
            <p>操作人员：{{eventItem.event_staff_name}}</p>
          </div>
        </li>
      </ul>
      <!--<ul>
          <li class="progress-item">
              <div class="item-text-box">
                  <img src="img/order/progress-true.png" />
                  <p>2019-10-10 13:23:34</p>
                  <p>扫码确认订单、会员身份</p>
                  <p>操作人员：黄师傅</p>
              </div>
          </li>
          <li class="progress-item">
              <div class="item-text-box">
                  <img src="img/order/progress-true.png" />
                  <p>2019-10-10 13:23:34</p>
                  <p>开始标准化保养服务</p>
                  <p>操作人员：黄师傅</p>
              </div>
              <ul class="item-btn-box">
                  <li class="btn-list-item btn-black" ng-click="changeState(item, 'testResult')">检测报告</li>
                  <li class="btn-list-item btn-black">忽略</li>
                  <li class="btn-list-item btn-linear">确认</li>
              </ul>
          </li>
          <li class="progress-item">
              <div class="item-text-box">
                  <img src="img/order/progress-true.png" />
                  <p>2019-10-10 13:23:34</p>
                  <p>开始标准化保养服务</p>
                  <p>操作人员：黄师傅</p>
              </div>
          </li>
          <li class="progress-item">
              <div class="item-text-box">
                  <img src="img/order/progress-true.png" />
                  <p >2019-10-10 13:23:34</p>
                  <p>订单附加项目已生产，待付款</p>
                  <p>操作人员：黄师傅</p>
              </div>
          </li>
      </ul>-->
    </div>
  </ion-content>
</ion-view>
